<div class="container text-center">
    <h2 class="text-primary">Dashboard</h2>
    <div class="row">
        <div class="col m-2">
            <div class="card">
                <app-table></app-table>
            </div>
        </div>
        <div class="col m-2">
            <div class="card text-center justify-content-center">
                <app-pie-chart></app-pie-chart>
            </div>
        </div>
        <div class="col m-2">
            <div class="card text-center">
                <app-bar-chart></app-bar-chart>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col m-2">
            <div class="card">
                <app-table2></app-table2>
            </div>
        </div>
        <div class="col m-2">
            <div class="card text-center justify-content-center">
                <app-pie-chart2></app-pie-chart2>
            </div>
        </div>
        <div class="col m-2">
            <div class="card text-center">
                <app-bar-chart2></app-bar-chart2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col m-2">
            <div class="card">
                <app-table3></app-table3>
            </div>
        </div>
        <div class="col m-2">
            <div class="card text-center justify-content-center">
                <app-pie-chart3></app-pie-chart3>
            </div>
        </div>
        <div class="col m-2">
            <div class="card text-center">
                <app-bar-chart3></app-bar-chart3>
            </div>
        </div>
    </div>
</div>